.cardView {
    align-items: center;
    display: flex;
    font-size: 50px;
    height: 95px;
    justify-content: center;
    width: 75px;
}

.cardView-container {
    align-items: center;
    border-radius: 10px;
    display: flex;
    height: 115px;
    justify-content: center;
    margin-top: 10px;
    width: 100px;
}

.cardView-hidden {
    background-color: var(--tertiary-color-dark);
    border: 6px solid var(--tertiary-color);
    border-radius: 10px;
}

.cardView-selected {
    background-color: #079AC6;
    border: 6px solid #00C4FF;
    border-radius: 10px;
}

.cardView-discovered {
    background-color: #B5BB3A;
    border: 6px solid #E8F044;
    border-radius: 10px;
}