.cardView {
    align-items: center;
    /* border: 3.5px solid purple; */
    display: flex;
    font-size: 60px;
    height: 105px;
    justify-content: center;
    width: 85px;
}

.cardView-container {
    align-items: center;
    /* background-color: var(--neutral-color-dark); */
    border-radius: 10px;
    display: flex;
    height: 120px;
    justify-content: center;
    margin-top: 10px;
    width: 100px;
}

.cardView-hidden {
    background-color: var(--tertiary-color-dark);
    border: 6px solid var(--tertiary-color);
    border-radius: 10px;
}

.cardView-selected {
    background-color: #079AC6;
    border: 6px solid #00C4FF;
    border-radius: 10px;
}

.cardView-discovered {
    background-color: #B5BB3A;
    border: 6px solid #E8F044;
    border-radius: 10px;
}