.homeView-elementsContainer {
    align-items: center;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: fixed;
    width: 100%;

    margin: 0;
    padding: 0;
}

.homeView_text {
    color: brown;
    font-size: 30px;
}

.homeView-logo {
    height: auto;
    margin-bottom: 25px;
    width: 350px;
}