.loginView-elementsContainer {
    align-items: center;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: fixed;
    width: 100%;
}

.loginView-text {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    margin-bottom: 10px;
}

.loginView-usernameIn {
    background-color: var(--neutral-color-light);
    border: 3.5px solid var(--secondary-color);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    font-size: 30px;
    height: 50px;
    justify-content: center;
    margin-bottom: 10px;
    max-width: 250px;
    width: 60%;
}