.scoreView {
    align-items: center;
    background-color: var(--neutral-color-light);
    border: 3.5px solid var(--secondary-color-light);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    position: relative;
    width: 80%;
}

.scoreView-nameContainer {
    align-items: center;
    background-color: var(--secondary-color);
    border-top-left-radius: 6.5px;
    border-top-right-radius: 6.5px;
    color: var(--neutral-color-light);
    display: flex;
    font-size: 30px;
    height: 75px;
    justify-content: center;
    width: 100%;
}

.scoreView-valuesContainer {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 20px;
    width: 100%;
}

.scoreView-valueContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.scoreView-valueTitle {
    color: var(--neutral-color-dark);
    font-family: 'Poppins', sans-serif;
    font-size: 17.5px;
    margin-top: 10px;
}

.scoreView-value-description {
    color: var(--tertiary-color-dark);
    font-family: 'Lilita One', cursive;
    font-size: 40px;
    font-weight: bold;
}