:root {
    --background-color: #A2E7EE;

    --fade-color: rgba(0, 0, 0, 1);

    --navigationContainer-height: 75px;

    --primary-color-dark: #389FAA;
    --primary-color: #45CFDD;
    --primary-color-light: #74DBE6;

    --secondary-color-dark: #502193;
    --secondary-color: #6527BE;
    --secondary-color-light: #8C5DCE;

    --tertiary-color-dark: #AA24AB;
    --tertiary-color: #DC2ADE;
    --tertiaryv-color-light: #E55FE6;

    --neutral-color-dark: #121010;
    --neutral-color-light: #FFFFFf;
}


* {
    margin: 0;
    padding: 0;
    font-family: 'Lilita One', cursive;
}

h1 {
    color: var(--primary-color);
}

h2 {
    color: var(--secondary-color);
}

hr {
    border-color: var(--primary-color-dark);
    margin-bottom: 20px;
    width: 100%;
}

button {
    background-color: var(--secondary-color);
    border-style: none;
    color: white;
    margin: 5px 5px 5px 5px;
    min-width: 60px;
    padding: 10px 10px 10px 10px;
    outline: none;
}

button:focus {
    outline: none;
}

/* Memory-Game-Project-JavaScript */

.mainContainer {
    align-items: center;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.contentContainer {
    height: calc(100% - var(--navigationContainer-height));
    width: 100%;
}

.game-button {
    align-items: center;
    background-color: var(--secondary-color);
    border: 3.5px solid var(--secondary-color-light);
    border-radius: 10px;
    color: white;
    cursor: pointer;
    display: flex;
    font-size: 30px;
    height: 50px;
    justify-content: center;
    margin-bottom: 5px;
    margin-top: 5px;
    max-width: 250px;
    user-select: none;
    width: 60%;
}

/* Navigation-Container-CSS */

.navigationContainer {
    align-items: center;
    background-color: var(--);
    display: flex;
    flex-direction: row;
    height: var(--navigationContainer-height);
    justify-content: flex-start;
    width: 100%;
}

.navigationContainer-back-button {
    color: white;
    cursor: pointer;
    font-size: 30px;
    margin-left: 20px;
    position: fixed;
    user-select: none;
}

.navigationContainer-title {
    color: white;
    font-size: 40px;
    text-align: center;
    width: 100%;
}

.hidden {
    display: none;
}